{{define "/chat/index.shtml"}}
  <!DOCTYPE html>
  <html lang="en">
  <head>
      {{template "/chat/head.shtml"}}
  </head>
  <body>
  <!--底部菜单-->
  {{template "/chat/tabmenu.shtml"}}
  <header class="mui-bar mui-bar-nav">
  </header>
  <div class="mui-content" id="app">
    <!--联系人-->
      {{template "/chat/concat.shtml"}}
    <!--群聊-->
      {{template "/chat/group.shtml"}}
    <!--个人中心-->
      {{template "/chat/profile.shtml"}}
    <!--聊天主界面-->
      {{template "/chat/main.shtml"}}
  </div>
  </body>
  </html>
  <script type="module">
    import { core } from '/asset/js/util.js'
    import { userId, userInfo } from '/asset/js/store.js'

    const app = new Vue({
      el: '#app',
      data: {
        userMap: {},
        friends: [],
        communities: [],
        profile: {
          avatar: '',
          nickname: '',
          memo: ''
        },
        webSocket: {},
        win: 'main',
        txtMsg: '',
        panelStat: 'kbord',
        txtStat: 'kbord',
        title: '',
        douTu: {
          config: {
            'baseurl': 'asset/plugins/doutu/',
            'pkgids': ['mkgif', 'emoj']
          },
          packages: [],
          choice: { 'pkgid': 'emoj', 'assets': [], 'size': 'small' }
        },
        msgList: [],
        msgContext: {
          dstId: 10,
          cmd: 1,
          userId: userId()
        },
        plugins: [
          {
            icon: 'asset/images/upload.png',
            name: '照片',
            id: 'upload',
            slot: '<input accept="image/gif,image/jpeg,,image/png" type="file" onchange="upload(this)" class=\'upload\' />'
          },
          {
            icon: 'asset/images/camera.png',
            name: '拍照',
            id: 'camera',
            slot: '<input accept="image/*" capture="camera" type="file" onchange="upload(this)" class=\'upload\' />'
          },
          {
            icon: 'asset/images/audiocall.png',
            name: '语音',
            id: 'audiocall'
          },
          {
            icon: 'asset/images/videocall.png',
            name: '视频',
            id: 'videocall'
          },
          {
            icon: 'asset/images/redpackage.png',
            name: '红包',
            id: 'redpackage'
          },
          {
            icon: 'asset/images/exchange.png',
            name: '转账',
            id: 'exchange'
          },
          {
            icon: 'asset/images/address.png',
            name: '地址',
            id: 'address'
          },
          {
            icon: 'asset/images/person.png',
            name: '名片',
            id: 'person'
          }
        ],
        timer: 0,
        recorder: {},
        allChunks: [],
        isComplete: false,
        duration: 0,
        showProcess: false
      },
      created() {
        this.loadFriends()
        this.loadCommunities()
        this.loadDouPics()
        const user = userInfo()
        if (!!user) {
          this.profile.avatar = user.avatar
          this.profile.nickname = user.name
          this.profile.memo = user.memo
        }
        this.initWebSocket()
      },
      mounted() {

      },
      methods: {
        playAudio(url) {
          document.getElementById('audio4play').src = url
          document.getElementById('audio4play').play()
        },
        startRecorder() {
          let audioTarget = document.getElementById('audio')
          const types = ['video/webm',
            'audio/webm',
            'video/webm\;codecs=vp8',
            'video/webm\;codecs=daala',
            'video/webm\;codecs=h264',
            'audio/webm\;codecs=opus',
            'video/mpeg']
          let supportType = ''
          for (const i in types) {
            if (MediaRecorder.isTypeSupported(types[i])) {
              supportType = types[i]
            }
          }
          if (!supportType) {
            mui.toast('编码不支持')
            return
          }

          this.duration = new Date().getTime()
          navigator.mediaDevices.getUserMedia({ audio: true, video: false })
            .then(function (stream) {
              this.showprocess = true
              this.recorder = new MediaRecorder(stream)
              audioTarget.srcObject = stream

              this.recorder.ondataavailable = (event) => {
                console.log('ondataavailable')
                uploadBlob('attach/upload', event.data, '.mp3', res => {
                  const duration = Math.ceil((new Date().getTime() - this.duration) / 1000)
                  this.sendAudioMsg(res.data, duration)
                })
                stream.getTracks().forEach(function (track) {
                  track.stop()
                })
                this.showprocess = false
              }
              this.recorder.start()
            }.bind(this)).catch(function (err) {
            console.log(err)
            mui.toast(err)
            this.showprocess = false
          }.bind(this))
        },
        stopRecorder() {
          if (typeof this.recorder.stop == 'function') {
            this.recorder.stop()
          }
          this.showprocess = false
          console.log('stoprecorder')
        },
        dispatchPlugin(item) {
          switch (item.id) {
            case 'upload':
            case 'camera':
              break
            default:
              mui.toast('系统暂不支持,请自行扩展')
          }
        },
        reset() {
          this.panelstat = 'kbord'
          this.txtstat = 'kbord'
          this.txtmsg = ''
        },
        createMsgContext() {
          return JSON.parse(JSON.stringify(this.msgContext))
        },
        loadDouPics: function () {
          const res = []
          const config = this.douTu.config
          for (const i in config.pkgids) {
            res[config.pkgids[i]] = (config.baseurl + config.pkgids[i] + '/info.json')
          }
          const that = this
          for (const id in res) {
            //console.log("res[i]",id,res[id])
            post(res[id], {}, function (pkginfo) {
              //console.log("post res[i]",id,res[id],pkginfo)
              const baseurl = config.baseurl + '/' + pkginfo.id + '/'
              for (const j in pkginfo.assets) {
                pkginfo.assets[j] = baseurl + pkginfo.assets[j]
              }
              pkginfo.icon = baseurl + pkginfo.icon
              that.douTu.packages.push(pkginfo)
              if (that.douTu.choice.pkgid === pkginfo.id) {
                that.douTu.choice.assets = pkginfo.assets
              }
            })
          }
        },
        showVX() {
          mui.alert('请加微信号jiepool-winlion索取')
        },
        showMsg(user, msg) {
          const data = {}
          data.isMine = userId() === msg.userId
          data.user = user
          data.msg = msg
          console.log(data)
          this.msgList = this.msgList.concat(data)
          this.reset()
          const that = this
          that.timer = setTimeout(function () {
            window.scrollTo(0, document.getElementById('convo').offsetHeight)
            clearTimeout(that.timer)
          }, 100)
        },
        startRecord() {

        },
        sendTxtMsg(txt) {
          //{id:1,userid:2,dstid:3,cmd:10,media:1,content:"hello"}
          const msg = this.createMsgContext()
          msg.media = 1
          msg.content = txt
          this.showMsg(userInfo(), msg)
          this.webSocket.send(JSON.stringify(msg))
        },
        sendPicMsg(picurl) {
          //{id:1,userid:2,dstid:3,cmd:10,media:4,url:"http://www.baidu.com/a/log,jpg"}
          const msg = this.createMsgContext()
          msg.media = 4
          msg.url = picurl
          this.showMsg(userInfo(), msg)
          this.webSocket.send(JSON.stringify(msg))
        },
        sendAudioMsg(url, num) {
          //{id:1,userid:2,dstid:3,cmd:10,media:3,url:"http://www.a,com/dsturl.mp3",anount:40}
          const msg = this.createMsgContext()
          msg.media = 3
          msg.url = url
          msg.amount = num
          this.showMsg(userInfo(), msg)
          //console.log("sendaudiomsg",this.msglist);
          this.webSocket.send(JSON.stringify(msg))
        },
        singleMsg(user) {
          //console.log(user)
          this.win = 'single'
          this.title = '和' + user.name + '聊天中'
          this.msgContext.targetId = parseInt(user.ID)
          this.msgContext.cmd = 1
        },
        groupMsg(group) {
          this.win = 'group'
          this.title = group.name
          this.msgContext.dstid = parseInt(group.id)
          this.msgContext.cmd = 2
        },
        loadUserInfo(userId, cb) {
          userId = '' + userId
          const userinfo = this.userMap[userId]
          if (!userinfo) {
            post('user/find', { id: parseInt(userId) }, (res) => {
              cb(res.data)
              this.userMap[userId] = res.data
            })
          } else {
            cb(userinfo)
          }
        },
        onMessage(data) {
          this.loadUserInfo(data.userId, user => {
            this.showMsg(user, data)
          })
        },
        initWebSocket() {
          const url = 'ws://' + `${location.host}/user/sendUMsg?id=${userId()}&token=${core.parseQuery('token')}`
          this.webSocket = new WebSocket(url)
          // 消息处理
          this.webSocket.onmessage = (evt) => {
            //{"data":"}",...}
            console.log(evt)
            if (evt.data.indexOf('}') > -1) {
              this.onMessage(JSON.parse(evt.data))
            } else {
              console.log('recv<==' + evt.data)
            }
          }
          //关闭回调
          this.webSocket.onclose = function (evt) {
            console.log(evt.data)
          }
          //出错回调
          this.webSocket.onerror = function (evt) {
            console.log(evt.data)
          }
          /*{
              this.webSocket.send()
          }*/
        },
        sendMsg() {

        },
        loadFriends() {
          const that = this
          axios.get('contact/load-friends', {
            params: {
              userId: userId()
            }
          }).then(({ data }) => {
            that.friends = data.rows || []
            const userMap = this.userMap
            for (const i in data.rows) {
              const k = '' + data.rows[i].ID
              userMap[k] = data.rows[i]
            }
            this.userMap = userMap
          })
        },
        loadCommunities() {
          axios.get('contact/load-communities', {
            params: {
              userId: userId()
            }
          }).then(({ data }) => {
            this.communities = res.rows || []
          })
        },
        addFriend() {
          const that = this
          mui.prompt('', '请输入好友ID', '加好友', ['取消', '确认'], function (e) {
            if (e.index === 1) {
              if (isNaN(e.value) || e.value <= 0) {
                mui.toast('格式错误')
              } else {
                //mui.toast(e.value);
                that._addFriend(e.value)
              }
            } else {
              //mui.toast('您取消了入库');
            }
          }, 'div')
          document.querySelector('.mui-popup-input input').type = 'number'
        },
        _addFriend(dstobj) {
          const that = this
          post('contact/addfriend', { dstid: dstobj, userid: userId() }, function (res) {
            if (res.code === 0) {
              mui.toast('添加成功')
              that.loadFriends()
            } else {
              mui.toast(res.msg)
            }
          })
        },
        _joinCommunity(dstobj) {
          const that = this
          post('contact/join-community', { dstid: dstobj, 'userid': userId() }, function (res) {
            if (res.code === 0) {
              mui.toast('添加成功')

              that.loadCommunities()
            } else {
              mui.toast(res.msg)
            }
          })
        },
        joinCommunity: function () {
          const that = this
          mui.prompt('', '请输入群号', '加群', ['取消', '确认'], function (e) {
            if (e.index === 1) {
              if (isNaN(e.value) || e.value <= 0) {
                mui.toast('格式错误')
              } else {
                //mui.toast(e.value);
                that._joinCommunity(e.value)
              }
            } else {
              //mui.toast('您取消了入库');
            }
          }, 'div')
          document.querySelector('.mui-popup-input input').type = 'number'
        },
        quit: function () {
          sessionStorage.removeItem('userid')
          sessionStorage.removeItem('userinfo')
          location.href = 'login.shtml'
        }
      },
      watch: {
        'win': function (n, o) {
          // console.log("watch",o,n)
          if (n !== 'main') {
            document.getElementById('menubar').style.display = 'none'
          } else {
            document.getElementById('menubar').style.display = 'block'
          }
        }
      }
    })

    function upload(dom) {
      uploadFile('attach/upload', dom, function (res) {
        if (res.code === 0) {
          app.sendPicMsg(res.data)
        }
      })
    }

    function post(uri, data, fn) {
      const xhr = new XMLHttpRequest()
      xhr.open('GET', `/${uri}`, true)
      // 添加http头，发送信息至服务器时内容编码类型
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 304)) {
          fn.call(this, JSON.parse(xhr.responseText))
        }
      }
      const _data = []
      if (!!userId()) {
        // data["userid"] = userId();
      }
      for (const i in data) {
        _data.push(i + '=' + encodeURI(data[i]))
      }
      xhr.send(_data.join('&'))
    }

    function uploadFile(uri, dom, fn) {
      const xhr = new XMLHttpRequest()
      xhr.open('POST', `/${uri}`, true)
      // 添加http头，发送信息至服务器时内容编码类型
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 304)) {
          fn.call(this, JSON.parse(xhr.responseText))
        }
      }
      const _data = []
      const formData = new FormData()
      if (!!userId()) {
        formData.append('userid', userId())
      }
      formData.append('file', dom.files[0])
      xhr.send(formData)
    }

    function uploadBlob(uri, blob, filetype, fn) {
      const xhr = new XMLHttpRequest()
      xhr.open('POST', `/${uri}`, true)
      // 添加http头，发送信息至服务器时内容编码类型
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 304)) {
          fn.call(this, JSON.parse(xhr.responseText))
        }
      }
      const _data = []
      const formData = new FormData()
      formData.append('filetype', filetype)
      if (!!userId()) {
        formData.append('userid', userId())
      }
      formData.append('file', blob)
      xhr.send(formData)
    }

    function uploadAudio(uri, blob, fn) {
      uploadBlob(uri, blob, '.mp3', fn)
    }

    function uploadVideo(uri, blob, fn) {
      uploadBlob(uri, blob, '.mp4', fn)
    }
  </script>
{{end}}